**/raw/*
**/.DS_Store
**/dump/*
**/la100/*
**/model/corelogic/data/*
**/model/corelogic/runs/*
**/model/corelogic/fig/*
**/model/ztrax/data/*
**/model/ztrax/runs/*
**/model/ztrax/fig/*
**/analyses/building_permits/output/*
